<div class="panel-default" style="border:solid">
    <div class="row">
        <div class="col-sm-3"> <input class="btn btn-default" type="button" value="7" ng-click="ctrl.numeralClick($event)" /> </div>
        <div class="col-sm-3"> <input class="btn btn-default" type="button" value="8" ng-click="ctrl.numeralClick($event)" /> </div>
        <div class="col-sm-3"> <input class="btn btn-default" type="button" value="9" ng-click="ctrl.numeralClick($event)" /> </div>
    </div>
    <div class="row">
        <div class="col-sm-3"> <input class="btn btn-default" type="button" value="4" ng-click="ctrl.numeralClick($event)" /> </div>
        <div class="col-sm-3"> <input class="btn btn-default" type="button" value="5" ng-click="ctrl.numeralClick($event)" /> </div>
        <div class="col-sm-3"> <input class="btn btn-default" type="button" value="6" ng-click="ctrl.numeralClick($event)" /> </div>
    </div>
    <div class="row">
        <div class="col-sm-3"> <input class="btn btn-default" type="button" value="3" ng-click="ctrl.numeralClick($event)" /> </div>
        <div class="col-sm-3"> <input class="btn btn-default" type="button" value="2" ng-click="ctrl.numeralClick($event)" /> </div>
        <div class="col-sm-3"> <input class="btn btn-default" type="button" value="1" ng-click="ctrl.numeralClick($event)" /> </div>
    </div>
    <div class="row">
        <div class="col-sm-3"> <input class="btn btn-default" type="button" value="0" ng-click="ctrl.numeralClick($event)" /> </div>
        <div class="col-sm-3"> <input class="btn btn-default" type="button" value="." ng-click="ctrl.numeralClick($event)" /> </div>
        <div class="col-sm-3"> <input class="btn btn-default" type="button" value="±" ng-click="ctrl.negativeClick()" /> </div>
    </div>
</div>
